* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'opens sans', sans-serif;
  font-size: 20px;
}

body {
  background-image: url("../images/dzień.jpg");
  object-fit: cover
}